<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title test-chatspace
  %body
    .notice
      グループを作成しました。
    .contents
      %h1 コンテンツです
      .contents__menu
        メニューです
      .contents__conversations
        メッセージ表示欄です
        .post
          = form_tag( root_path, method: :create) do          
            = text_field_tag :key, params[:key], { placeholder: "type a message", class: "text" }
    %footer
      .footer
        copyrights