<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title test-chatspace
  %body
    .notice
      グループを作成しました
    %header
      .header
        .userInfo 
          .userInfo__name
            test-user
          %ul.userInfo__links
            %li.userInfo__links--edit
            =link_to "#" do
              = fa_icon 'edit',class: "fa-edit" 
              %span<>
            %li.userInfo__links--cog
            =link_to "#" do
              = fa_icon 'cog' ,class: "fa-cog"   
              %span<>        

        .groupInfo
          .groupInfo-left
            .groupInfo-left__name
              %h2 test-group
            .groupInfo-left__members
              %ul 
                Member : 
                %li 
                  test-user
                %li 
                  test-user2
          %input.groupInfo__edit(type="submit" value="Edit")
        
      
    .main
      .sideBar
        .sideBar-group
          .sideBar-group__name
            test-group
          .sideBar-group__latest
            さようなら
        .sideBar-group
          .sideBar-group__name
            test-group
          .sideBar-group__latest
            さようなら
        .sideBar-group
          .sideBar-group__name
            test-group
          .sideBar-group__latest
      
      .messages
        .message
          .message__info
            .message__info__speaker
              test-user
            .message__info__date
              2019/10/16(Wed) 17:25:27
          .message__text  
            こんにちは！
        .message  
          .message__info
            .message__info__speaker
              test-user
            .message__info__date
              2019/10/16(Wed) 17:25:27
          .message__text  
            こんにちは！
        %footer
          .post
            %input.post__text(type="textarea" value="type a message")
            .post__file
              =link_to "#" do
                = fa_icon 'image' ,class: "fa-image"
                %span<>           

            %input.post__submit(type="submit" value="Send")
            
            



