<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title test-chatspace
  %body
    .notice
      グループを作成しました
     
    %header
      .header
        .userInfo 
          .userInfo__name
            test-user
        .groupInfo
          .groupInfo-left
            .groupInfo-left__name
              %h2 test-group
            .groupInfo-left__members
              %ul 
                Member : 
                %li 
                  test-user
          %input.groupInfo__edit(type="submit" value="Edit")
        
      
    .main
      .sideBar
        .sideBar__group
          test-group
        .sideBar__latest
          さようなら
        .sideBar__group
          sample-group
        .sideBar__latest
          hello!
        .sideBar__group
          example
        .sideBar__latest
          まだメッセージがありません
      .conversations
        %h1 test-group
        %h1 Menbers
        .conversations__post
        test-user
        こんにちは！
        .conversations__post
        test-user
        さようなら！
        %footer
          .post
            %input.post__text(type="textarea" value="type a message")

            %input.post__submit(type="submit" value="Send")



