<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title test-chatspace
  %body
    .notice
      グループを作成しました。
    .contents
      .menu
        .menu__header
          test-user
        .menu__group
          %p test-group
          %p さようなら
        .menu__group
          %p sample-group
          %p hello!
        .menu__group
          %p example
          %p まだメッセージがありません
      .conversations
        %h1 test-group
        %h1 Menbers
        .conversations__post
        test-user
        こんにちは！
        .conversations__post
        test-user
        さようなら！
        .message
          .message-text
            %input(type="textarea" value="type a message")
          .message-send
            %input(type="submit" value="Send")