<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title test-chatspace
  %body
    %header
      .notice
        グループを作成しました。
      .header
        .header-left 
          %p test-user
          %p 投稿
        .header-right
          .header-right--group
            test-group
          .header-right__edit
            %input(type="submit" value="edit")
        
      
    .main
      .sidebar
        .sidebar__group
          test-group
        .sidebar__latest
          さようなら
        .sidebar__group
          sample-group
        .sidebar__latest
          hello!
        .sidebar__group
          example
        .sidebar__latest
          まだメッセージがありません
      .conversations
        %h1 test-group
        %h1 Menbers
        .conversations__post
        test-user
        こんにちは！
        .conversations__post
        test-user
        さようなら！
        %footer
          .post
            .post__text
              %input(type="textarea" value="type a message")
            .post__send
              %input(type="submit" value="Send")


