.header{
  position: fixed;
  height: 100px;
  width: 100%;
  padding-top: 24px;
  background-color: #fafafa;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

.userInfo{
  background-color: #253141;
  color: #ffffff;
  height: 100%;
  line-height: 100px;
  width: 300px;
  display: flex;
  justify-content: space-between;

  &__name{
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 20px;
  }
  &__links{
    padding: 0 20px 0 0;
    li{
      display: inline;
    }

  }
}


.groupInfo{
  background-color: #ffffff;
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #eeeeee;
  border-width: 1px;
  &-left{
    &__name{
      margin: 35px 0 0 40px;
      font-size: 20px;
      color: #333333;
    }
    &__members{
      margin: 15px 0 0 40px;
      font-size: 12px;
      color: #999999;
      li{
        display: inline;
        .fa-cog{
          text-decoration: none;
        }
        .fa-edit{
          text-decoration: none;
        }
      }
    }
  }
  &__edit{
  color: #38aef0;
  background-color: #ffffff;  
  height: 40px;
  padding: 0 20px;
  margin: 28px 40px 28px 0;
  border-width: 2px;
  border-color: #38aef0;
  text-align: center;
  }
}