html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.main{
  //notice24 + header100
  padding-top: 124px;
  width: 100%;
  height: calc(100vh - 124px);
  background-color: #fafafa;
}


.messages{
  padding: 46px 0 46px 0;
  width: calc(100vw - 300px);
  float: right;
  position: relative;
  .message{
    padding: 0 40px 40px 40px;
    &__info{
      display: flex;
      justify-content: flex-start;
      margin: 0 0 10px 0;
      &__speaker{
        font-size: 16px;
        color: #434A54;
        font-weight: bold;
        margin: 0 10px 0  0;
      }
      &__date{
        font-size: 12px;
        color: #999999;
      }
    }
    &__text{
      font-size:  14px;
      color: #434A54;
    }
  }
}



footer{
  height: 90px;
  background-color:lightgray;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
}
.post{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  &__text{
    margin: 20px 0 20px 40px;
    padding: 0 10px;
    color: #434A54;
    height: 50px;
    width: calc(100% - 515px);
    border-style: none;
    .fa-image{
      font-size: 50px;
    }
  }
  &__submit{
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 20px 40px 20px 15px;
    background-color: #38aef0;
    color: #fff;
    border-style: none;
    text-align: center;
  }
}
