html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;

  &-left{
    background-color: #253141;
    height: 100%;
    line-height: 100px;
    width: 300px;
    color: #ffffff;
    font-size: 16px;
  }

  &-right{
    background-color: #fafafa;
    width: calc(100% - 300px);
    &__group{
      font-size: 20px;
      color: #333333;
      // float: left;
    }
    &__members{
      font-size: 12px;
      color: #999999;
      // float: left;
    }
    &__edit{
      font-size: 40px;
      float: right;
    }
  }

}



.main{
  padding-top: 100px;
  width: 100%;
  height: calc(100% - 180px);
  background-color: lightgray;
}

.sidebar{
  background-color: blue;
  width: 300px;
  height: 100%;
  float: left;
}

.conversations{
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}

.post{
  height: 60px;
  background-color: gray;
  width: 100%;
  position: absolute;
  bottom: 0;
}
