html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header{
  position: fixed;
  height: 100px;
  width: 100%;
  padding-top: 24px;
  background-color: #fafafa;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-start;

  &-left{
    background-color: #253141;
    height: 100%;
    line-height: 100px;
    width: 300px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }

  &-right{
    background-color: #fafafa;
    width: calc(100% - 300px);
    &__group{
      font-size: 20px;
      color: #333333;
      // float: left;
    }
    &__members{
      font-size: 12px;
      color: #999999;
      // float: left;
    }
    &__edit{
      font-size: 40px;
      float: right;
    }
  }

}



.main{
  padding-top: 124px;
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fafafa;
}

.sidebar{
  background-color:#2f3e51;
  width: 300px;

  height: 100%;
  float: left;
  color: #ffffff;
  font-weight: bold;
  &__group{
      font-size: 16px;
  }
  &__latest{
    font-size: 12px;
  }
}

.conversations{
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}

footer{
  height: 100px;
  background-color:lightgray;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
}
.post{
  &__text{
    padding: 0 10px;
    line-height: 50px;
  }
  &__submit{
    padding: 0 0 0 15px;
    line-height: 50px; 
  }
}
