html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


main{
  padding-top: $h-header + $h-notice;
  width: 100%;
  height: calc(100vh - #{$h-header + $h-notice});
  background-color: #fafafa;
}
