html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.header{
  position: fixed;
  height: 100px;
  width: 100%;
  padding-top: 24px;
  background-color: #fafafa;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

.userInfo{
  background-color: #253141;
  height: 100%;
  line-height: 100px;
  width: 300px;
  
  &__name{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 20px;
  }
}


.groupInfo{
  background-color: #ffffff;
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  &-left{
    &__name{
      margin: 35px 0 0 40px;
      font-size: 20px;
      color: #333333;
    }
    &__members{
      margin: 15px 0 0 40px;
      font-size: 12px;
      color: #999999;
      li{
        display: inline;
      }
    }
  }
  &__edit{
  color: #38aef0;
  background-color: #ffffff;  
  height: 40px;
  padding: 0 20px;
  margin: 28px 40px 28px 0;
  border-width: 2px;
  border-color: #38aef0;
  text-align: center;
  }
}


.main{
  padding-top: 124px;
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fafafa;
}

.sideBar{
  background-color:#2f3e51;
  width: 300px;

  height: 100%;
  float: left;
  color: #ffffff;
  font-weight: bold;
  &__group{
      font-size: 16px;
  }
  &__latest{
    font-size: 12px;
  }
}

.conversations{
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}

footer{
  height: 90px;
  background-color:lightgray;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
}
.post{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  &__text{
    margin: 20px 0 20px 40px;
    padding: 0 10px;
    color: #434A54;
    height: 50px;
    width: calc(100% - 515px);
    border-style: none;
  }
  &__submit{
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 20px 40px 20px 15px;
    background-color: #38aef0;
    color: #fff;
    border-style: none;
    text-align: center;
  }
}
