html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.main{
  //notice24 + header100
  padding-top: 124px;
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fafafa;
}


.conversations{
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}

footer{
  height: 90px;
  background-color:lightgray;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
}
.post{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  &__text{
    margin: 20px 0 20px 40px;
    padding: 0 10px;
    color: #434A54;
    height: 50px;
    width: calc(100% - 515px);
    border-style: none;
  }
  &__submit{
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 20px 40px 20px 15px;
    background-color: #38aef0;
    color: #fff;
    border-style: none;
    text-align: center;
  }
}
