
.sideBar{
  margin: 0;
  padding: 0;
  background-color:#2f3e51;
  width: $w-side;
  // vhにして、overflow記述して、左右要素でスクロール
  height: calc(100vh - #{$h-header + $h-notice});

  overflow: auto;
  float: left;
  &-group{
    margin: 20px $w-pd-side;
    color: $txt-white;
    font-weight: bold;
    &__name{
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__latest{
      font-size: 11px;
    }
  }
}