
.sideBar{
  background-color:#2f3e51;
  width: $w-side;
  height: 100%;
  float: left;
  &-group{
    margin: 20px $w-pd-side;
    color: $txt-white;
    font-weight: bold;
    &__name{
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__latest{
      font-size: 11px;
    }
  }
}