.menu {
  height: 100%;
  width: 300px;
  background-color: navy;
  color: #ffffff;
  &__header{
    height: 82px;
    background-color: black;
  &__group{
    height: 80px;
    background-color: blue;
    &__name{
      font-size: 15px;
    }
    &__latest{
      font-size: 11px;
    }

  }
  }
}