// colors
$txt-black: #434A54;
$txt-bg: #999999;
$txt-white: #FFFFFF;

$btn-blue: #38AEF0;



// pixel values
$w-side: 300px;

$pd-side: 20px;
$pd-form: 10px;

$mg-main: 40px;


$h-notice: 24px;
$h-header: 100px;
$h-footer: 90px;

$w-submit: 100px;
$mg-submit: 15px;