// colors
$txt-black: #434A54;
$txt-bg: #999999;
$txt-white: #FFFFFF;

$btn-blue: #38AEF0;



// pixel values
// w:width h:height pd:padding mg:margin h-mg:marginの縦方向 

// sideBar
$w-side: 300px;
$w-pd-side: 20px;

// messages
$w-mg-messages: 40px;

// form
$w-pd-form: 10px;
$h-mg-form: 20px;

// header
$h-header: 100px;
// footer
$h-footer: 90px;
// button
$w-submit: 100px;
$w-mg-submit: 15px;