.contents__menu {
  height: 90px;
  width: 300px;
  border-bottom:20px solid navy;
  background-color: #ff8c00;
  color: #ffffff;
  &__logo {
    text-align: center;
    font-size: 36px;
    line-height: 90px;
  }
}